@use "../../constants/_breakpoints" as *;

$order-options: (1, 2, 3, 4, 5, 6);

@each $breakpoint-name, $breakpoint-size in $breakpoints {
	.is-stacked-on-#{$breakpoint-name} {
		@media (--#{$breakpoint-name}-down) {
			@each $order in $order-options {
				.is-order-#{$order} {
					order: #{$order};
				}
			}
		}
	}
}
