@use "sass:list";
@use "sass:map";
@use "../../constants/_breakpoints" as *;

$breakpoint-keys: map.keys($breakpoints);

// Iterate from largest max-width query to smallest so smaller screens win.
@for $index from list.length($breakpoint-keys) through 1 {
	$breakpoint-name: list.nth($breakpoint-keys, $index);

	@media (--#{$breakpoint-name}-down) {
		.wp-block-group-is-layout-grid.is-responsive-columns-on-#{$breakpoint-name} {
			grid-template-columns: var(--grid-template-columns-#{$breakpoint-name});
		}
	}
}
