@use "sass:list";
@use "sass:map";
@use "../../constants/_breakpoints" as *;

.is-position-sticky.is-unstuck-on-mobile {
	@each $breakpoint-name, $breakpoint-size in $breakpoints {
		@media (--#{$breakpoint-name}-down) {
			&:where(.is-unstuck-on-#{$breakpoint-name}) {
				position: static;
			}
		}
	}
}

.is-position-sticky-top {
	bottom: auto !important; // stylelint-disable-line declaration-no-important
	top: var(--sticky-offset, 0) !important; // stylelint-disable-line declaration-no-important
}

.is-position-sticky-bottom {
	bottom: var(--sticky-offset, 0) !important; // stylelint-disable-line declaration-no-important
	top: auto !important; // stylelint-disable-line declaration-no-important
}
