@use "sass:list";
@use "sass:map";
@use "../../constants/_breakpoints" as *;

$breakpoint-keys: map.keys($breakpoints);

.wp-block-group.is-stacked-on-mobile {
	// Iterate from largest max-width query to smallest so smaller screens win.
	@for $index from list.length($breakpoint-keys) through 1 {
		$breakpoint-name: list.nth($breakpoint-keys, $index);

		@media (--#{$breakpoint-name}-down) {
			&:where(.is-stacked-on-#{$breakpoint-name}) {
				align-items: flex-start;
				flex-direction: column;
			}
		}
	}
}
