name: Build to "release" branch

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  release:
    name: "Update release branch"
    uses: eighteen73/github-actions/.github/workflows/build-and-release-node.yml@main
    with:
      node_version: 22
      source_branch: main
      release_branch: release
      run_composer_install: true
      built_asset_paths: build
      plugin_file: pulsar-extensions.php
